html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: blue ;
}

body {
  padding: 50px 100px;
}

h1{
  font-size: 40px;
  font-weight: lighter;
  color: red;
}

#intro{

	border: 2px solid black;
}
